@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700');

* {
    font-family: 'Open Sans', sans-serif;
}

/* MENU/HEADER */

.menu-section {
    background-color: #191919;
    height: 100px;
    padding: 25px 0;
}

.menu-section img {
    height: 50px;
    width: auto;
    float: left;
}

.menu-section ul {
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}

.menu-section ul > li {
    display: inline-block;
    width: auto;
    padding-left: 60px;
    text-align: center;
    margin-top: 12px;
}

.menu-section ul > li > a {
    font-weight: 700;
    text-decoration: none;
    color: #f0edee;
    font-size: 20px;
    line-height: 0.04px;
}

/* JUMBOTRON */

.jumbotron-image {
    min-height: 460px;
    background-image: url('img/21766697_1681557628529975_865432837120863916_n.jpg');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ABOUT */
.about-section {
    background-color: #f0edee;
    height: 540px;
    color: #191919;
}

.about-section .row {
    padding-top: 57px;
    padding-bottom: 57px;
}

.about-section [class*='col-']:first-child {
    padding-left: 40px;
    padding-right: 40px;
}
.about-section h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.about-section p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.about-section img {
    height: 436px;
    width: 436px;
    object-fit: contain;
}

/* SHOP */

.shop {
    padding: 40px 20px;
}

.cards-section {
    display: flex;
    justify-content: space-between;
}

.shop h2 {
    font-size: 40px;
    color: #191919;
    font-weight: 700;
    padding: 10px 0 20px 0;
    text-align: center;
}

.shop .card {
    width: 100%;
    float: left;
}


.shop img {
    object-fit: cover;
    height: 250px;
}

.shop .card-body {
    min-height: 260px;
}

.shop .card-body p {
    font-size: .95rem;
}

.shop .btn {
    position: absolute;
    bottom: 5%;
}

/* EVENTS */

.events {
    background-color: #191919;
    height: 350px;
    text-align: center;
    padding: 30px;
}

.events > h2 {
    font-size: 40px;
    font-weight: 700;
    color: #f0edee;
    margin-bottom: 40px;
}

.events p {
    font-weight: 400;
    margin-bottom: 20px;
}
.events span {
    font-weight: 700;
}
.events a {
    color: #f0edee;
}

.events a:hover {
    text-decoration: none;
}

/* CONTACT */

.contact {
    height: 400px;
    background-color: #f0edee;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact h3 {
    color: #191919;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.contact .icons {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.contact .find-icon {
    color: #191919;
    font-size: 50px;
}

.contact .mail {
    margin-top: 70px;
    text-align: center;
}

.contact .contact-mail {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .mail .fa, .contact .mail a {
    color: #191919;
}

.contact .mail .fa {
    font-size: 40px;
    float: left;
    margin-right: 30px;
}

.contact .mail a {
    font-size: 20px;
}


.contact .partners {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    padding-top: 40px;
}

/* FOOTER */

footer {
    height: 50px;
    background-color: #191919;
    padding-top: 12px;
}

footer > p,a {
    margin: 0;
    font-size: 20px;
    color: #f0edee;
    text-align: center;
    text-transform: uppercase;
}

footer >a:hover {
    color: #f0edee;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 575px) { 
    .menu-section {
        height: 50px;
        padding: 10px 0;
        position: relative;
    }

    .menu-section img {
        height: 30px;
        clear: both;
    }

    .menu-section ul {
        display: none;
        clear: both;
        padding: 0;
        background-color: #191919;
        margin-top: 10px;
        margin-right: -15px;
    }

    .menu-section ul > li {
        display: block;
        width: 250px;
        height: 50px;
        padding-left: 0px;
        margin-top: 14px;
        border-bottom: solid 1px #484747;
    }

    .menu-section .menu-active {
        display: block;
    }

    .menu-section ul > li:last-child {
        border: none;
    }
    .menu-section ul > li > a {
        font-weight: 700;
        text-decoration: none;
        color: #f0edee;
        font-size: 20px;
        line-height: initial;
    }

    .toggle-menu {
        background-color: transparent;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 40px;

    }

    .hamburger,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 32px;
        height: 5px;
        background-color: #f0edee;
        border-radius: 3px;
    }

    .hamburger {
        transform: translate(4px, 17px);
    }
    .hamburger:after {
        transform: translateY(-15px);
    }
    .hamburger:before {
        transform: translateY(10px);
    }
    
    .about-section {
        height: auto;
        
     }
    .about-section [class*='col-']:first-child {
        border-right: 40px solid #f0edee;
        border-left: 40px solid #f0edee;
        background-image: linear-gradient(rgba(240,237,238,0.5), rgba(240,237,238,0.5)), url('img/about.jpg');
    }
    .about-section h2 {
        font-size: 30px;
        margin-top: 35px;
    }

    .about-section p {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 35px;
    }
    .about-section img {
        display: none;
    }
    
    .shop .col-12 {
        padding-bottom: 10px;
    }
    
    .events {
        height: auto;
    }

    .events > h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .events a {
        font-size: .95rem;
    }

    .contact {
        height: auto;
    }
    
    .contact .col-12 {
        padding-bottom: 20px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {  }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {  }
/*
@media only screen and (max-width: 767px) {
    .shop .card-body p {
        font-size: .95rem;
    }

    .shop .card-body .card-title {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 991px) {
    
    .menu-section ul > li {
        padding-left: 30px;
    }

    .about-section h2 {
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .about-section p {
        font-size: 20px;
        line-height: 20px;
    }

    .shop .card-body p {
        font-size: .8rem;
    }

    .shop .card-body .card-title {
        font-size: 1.2rem;
    }
}


*/
